body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-dark {
  color: #2e2f42;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation-links .link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navigation-links .link:hover {
  color: #404bbf;
}

.navigation-links .link:active {
  color: #404bbf;
}

.address-links {
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.a-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
}
.link:hover,
.a-link:hover {
  color: #404bbf;
}
.link:focus,
.a-link:focus {
  color: #404bbf;
}
.link:active,
.a-link:active {
  color: #404bbf;
}

.heros-img {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.heros-header-text {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 46px;
}

.main-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.main-button:hover,
.main-button:active,
.main-button:focus {
  background-color: #404bbf;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.head-work-rules {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-card-background {
  background-color: #ffffff;
}

.header-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.p-section-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.team-background {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.main-header-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-card-background {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.footer-background {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-white {
  color: #f4f4fd;
}

.footer-bright-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  max-width: 264px;
}

.header-styles {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.header-info {
  display: flex;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.navigation-links {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu {
  display: flex;
  gap: 40px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.work-rules {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work-rules-item {
  flex-basis: calc((100% - 72px) / 4);
}

.characteristics-organization {
  display: flex;
  gap: 24px;
}

.list-item-ourteam {
  display: flex;
  gap: 24px;
}

.employee {
  padding: 32px 0px;
}

.section-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.list-item-ourportfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.item-ourportfolio {
  width: calc((100% - 48px) / 3);
}

.app {
  padding: 32px 16px 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
